apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: dragon
  annotations:
    cloud.google.com/backend-config: '{"default": "backend-config"}'
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 3001
      targetPort: 3001
      nodePort: 30010
