# Dependencies
node_modules/

# Pulumi
infra/pulumi/.pulumi/
infra/pulumi/bin/
infra/pulumi/node_modules/

# Secrets & credentials
.env
.env.*
*.pem
*.key
kubeconfig*
*.kubeconfig
credentials.json
service-account*.json
secret.md
