apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: dragon
spec:
  type: NodePort
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017
      nodePort: 30017
