apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: dragon
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30020
